<div class="row" ng-show="!blackJack.isRoomSet">
	<form>
			<label>Create Room:</label>
	    <input type="text" class="col-xs-offset-1 col-xs-10" placeholder="room name" ng-model="blackJack.newRoom.profile.roomName" required>
			<a href="" class="btn btn-lg btn-success col-xs-offset-1 col-xs-10" ng-click="createNewRoom()">Create</a>
	</form>
	<div class="form-group">
    <label for="sel1">Join Room:</label>
    <select ng-model="roomId" ng-click= "getRooms()" >
        <option value="">---</option>
        <option ng-repeat="room in blackJack.rooms" value="{{room.id}}">
            {{room.profile.roomName}}</option>
    </select>
		<a href="" class="btn btn-lg btn-primary col-xs-offset-1 col-xs-10" ng-click="joinRoom(roomId)">Join</a>
	</div>
</div>
<div class="row" ng-show="blackJack.isRoomSet">
	<div id="dealerHand" ng-show="blackJack.hasDealer">
		Dealer:
		<img width="120px" height="160px" ng-repeat="card in blackJack.Players.Dealer.cards" src="{{card.image}}">
	</div>
	<div id="" ng-repeat="(k, v) in filterDealer(blackJack.newRoom.profile.players)" ng-show="blackJack.isPlaying">
		{{k}}:
		<img width="120px" height="160px" ng-repeat="card in blackJack.Players[k].cards" src="{{card.image}}">
	</div>
  <div id="yourStatus">{{blackJack.outcome}}</div>
	<div id="yourScore">{{user.username}}, your score: <span class="digits"> {{blackJack.Players[user.username].score}}</span></div>
	<div id="yourRecord">Your Record: <span id="wins">{{user.wins}}</span>&nbsp;/&nbsp;<span id="losses">{{user.losses}}</span>, Your Balance: <span id="balance">{{user.balance}}</span></div>
	<div class="form-group">
		<label>Your Bet</label>
	  <input type="number" ng-model="blackJack.bet" required>
	</div>
	<button id="deal" ng-click="deal()">Deal</button>
	<button id="hit" ng-click="userHit()">Hit</button>
	<button id="stand" ng-click="userStand()">Stand</button>
	<button id="reset" ng-click="resetDeal()">Clear Game Table</button>
	<button id="leave" ng-click="leaveRoom()">Leave Room</button>
</div>