<div class="col-xs-6 col-xs-offset-3">
	<div class="row">
	  <h2 class="yourStats">Welcom to this fun website, <span id="username">{{user.username}}</span>!</h2>
	  <div class="yourStats">Your account balance is <span id="balance">{{user.balance}}</span>.</div>
	  <div class="yourStats">Your blackjack game record win</span>&nbsp;/&nbsp;<span>loss ratio is <span id="wins">{{user.wins}}</span>&nbsp;/&nbsp;<span id="losses">{{user.losses}}</span>.</div>
	  <div class="yourStats">Your tetris game total lines eliminated <span id="wins">{{user.totalLines}}</span>, total shapes consumed <span id="balance">{{user.totalShapes}}</span>.</div>
	<div class="recharge form-group">
		<label>Amount to recharge:</label>
	  <input type="number" ng-model="rechargeAmount" required>
    <a class="btn btn-lg btn-primary col-xs-offset-1 col-xs-10" ng-click="recharge(rechargeAmount)">Recharge</a>
	</div>
</div> <!-- /container —>