<div id="home">
	<div class="row">
		<div class="home-header col-xs-6 col-xs-offset-3">
		  <h1 class="animated slideInLeft">Welcom to this fun website, <span id="username">{{user.username}}</span>!</h1>
		  <h2 class="animated slideInRight">It is time to start your joyful journey...</h2>
	  </div>
	</div>

	<div class="row">
	  <div class="col-xs-12 col-md-9 col-md-offset-1 animated bounceInUp">
		  <div class="col-xs-6 col-md-3 col-md-offset-1">
		    <a href="#/game/blackjack" class="thumbnail">
		      <img src="img/card-games.jpeg" alt="...">
		      <div class="caption btn-custom">
		        <h4>Blackjack</h4>
		      </div>
		    </a>
		  </div>
		  <div class="col-xs-6 col-md-3 col-md-offset-1">
		    <a href="#/game/super gomoku" class="thumbnail">
		      <img src="img/super-gomoku.jpg" alt="...">
		      <div class="caption btn-custom">
		        <h4>Super Gomoku</h4>
		      </div>
		    </a>
		  </div>
		  <div class="col-xs-6 col-md-3 col-md-offset-1">
		    <a href="#/game/tetris" class="thumbnail">
		      <img src="img/tetris.png" alt="...">
		      <div class="caption btn-custom">
		        <h4>Tetris</h4>
		      </div>
		    </a>
		  </div>
	  </div>
	</div> 
</div> 
