<div id="profile-container" class="row">
  <h1>User Profile</h1>
  <div class="panel col-xs-6 col-xs-offset-3">
    <h3>{{user.username}}</h3>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="img/user-default.png" class="img-rounded img-responsive"> </div>
        <div class=" col-md-9 col-lg-9 "> 
          <table class="table table-striped table-user-information">
            <tbody>
              <tr>
                <td>Account Balance:</td>
                <td>{{user.balance}}</td>
              </tr>
              <tr>
                <td>Blackjack Wins:</td>
                <td>{{user.wins}}</td>
              </tr>
              <tr>
                <td>Blackjack Losses:</td>
                <td>{{user.losses}}</td>
              </tr>
              <tr>
                <td>Super Gomoku Wins:</td>
                <td>{{user.sgWins}}</td>
              </tr>
              <tr>
                <td>Super Gomoku Losses:</td>
                <td>{{user.sgLosses}}</td>
              </tr>
              <tr>
                <td>Tetris total lines eliminated:</td>
                <td>{{user.totalLines}}</td>
              </tr>
              <tr>
                <td>Tetris total shapes consumed:</td>
                <td>{{user.totalShapes}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="recharge-container col-xs-6 col-xs-offset-3">
  		<div class="recharge">
        <h3>Recharge Account:</h3>
  			<label>Amount to recharge:</label>
  		  <input type="number" min="1" step="1" ng-model="rechargeAmount" required>
  	    <a class="btn btn-custom" ng-disabled="!rechargeAmount" ng-click="!rechargeAmount || recharge(rechargeAmount)">Recharge</a>
      </div>
  </div> 
</div>
