<header id="header" class="">
  <h3>Tetris Game!</h1>
</header><!-- /header -->

<div class="row">
  <div class="col-xs-offset-4 col-xs-4">
    <div>Enter: start game</div>
    <div>P: pause game</div>
    <div>N: restart game</div>
    <div>W: rotate counter clockwise</div>
    <div>R: rotate clockwise</div>
    <div>Left Arrow: move left</div>
    <div>Left Arrow: move left</div>
    <div>Right Arrow: move right</div>
    <div>Down Arrow: move down faster</div>
    <div>Spacebar: drop to bottom</div>
    <div>Up Arrow: move up</div>
  </div>
  <div class="col-xs-offset-4 col-xs-4">
    <div id="canvasContainer">
      <canvas id='myCanvas' width="200" height="400"></canvas>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-xs-offset-4 col-xs-4">
		<div>You eliminated total lines <span id="wins">{{tetris.totalLines}}.</span></div>
		<div>You consumed total shapes <span id="balance">{{tetris.totalShapes}}.</span></div>
	</div>
</div>
