<header id="header" class="">
  <h3>Tetris Game!</h1>
</header><!-- /header -->

<div class="row">
  <div class="col-xs-offset-4 col-xs-4">
    <canvas id='myCanvas' width="200" height="400">
    </canvas>
  </div>
</div>

<div class="row">
	<div class="col-xs-offset-4 col-xs-4">
		<div>You eliminated total lines <span id="wins">{{tetris.totalLines}}.</span></div>
		<div>You consumed total shapes <span id="balance">{{tetris.totalShapes}}.</span></div>
	</div>
  <button id="replay" class="btn btn-lg btn-primary col-xs-2" ng-click="resetGame()">Replay</button>
</div>
