body {
  background-color: #9ED78F; }
  body #auth {
    background-color: #E3F4DE;
    padding: 5px; }
  body h1 {
    color: green;
    text-align: center; }

.yourStats {
  margin-top: 1em;
  font-size: medium;
  font-weight: bold; }

.recharge {
  margin-top: 3em;
  border-top: 3px solid black; }

.game-set {
  margin-top: 3em; }

.game-set ul a {
  font-size: medium;
  color: blue; }

.card-table {
  text-align: left;
  height: 122px;
  width: 800px;
  border: 1px solid black; }

.Hand {
  height: 122px;
  border-right: 1px solid black; }

.bet {
  margin-top: 1em; }

#yourScore .digits {
  font-weight: 700; }

#wins {
  color: #056B42; }

#losses {
  color: #F16D17; }

#balance {
  font-weight: bold;
  color: blue; }

#username {
  font-style: italic;
  font-weight: bolder;
  color: purple; }

#control {
  background-color: #7887AB;
  margin-top: 1em;
  text-align: center; }

#ttt {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-top: 3em; }

.blocks {
  width: 30%;
  height: 30%;
  box-sizing: border-box;
  border: 1px solid lightblue;
  margin: auto;
  text-align: center; }

.blocks:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%; }

#canvasContainer {
  background-color: black;
  border: 3px solid grey; }
